::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(31,41,55); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3000093; 
  }

  .header{
    width: 80%;
  }

  .header_icon{
    width: 100%;
    height: 100%;
  }
 
  .textArea{
    background-color: #e5eff5;
  }
  .posts{
    width: 80%;
  }